
@{
    Layout = null;
}
@model ResultModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <h2>@Model.Title has been registered</h2>
</body>
</html>
